@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
    scroll-behavior: smooth;
}

body,
#root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,
#root::-webkit-scrollbar {
    display: none;
}

.header--hero {
    height: 500px;
}

img {
    pointer-events: none;
}

.main--section {
    height: 100vh;
}

.projects--main,
.error--main {
    min-height: calc(100vh - 112px);
}

#root {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    overflow-y: scroll;
    max-height: 100vh;
}

header,
section {
    scroll-snap-align: start;
    overflow: hidden;
}

footer {
    scroll-snap-align: end;
}

.about--developer {
    top: 132px;
    left: 510px;
}

.about--design {
    left: 192px;
    top: 320px;
}

.about--deploy {
    top: 350px;
    left: 685px;
}

.about--develop {
    top: 465px;
    left: 480px;
}

.experience--top {
    top: 115px;
    left: -94px;
}

.experience--left {
    bottom: -8px;
    left: 168px;
}

.experience--right {
    bottom: -20px;
    right: -90px;
}

.experience--bullets li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: theme("colors.primary");
    display: block;
    position: relative;
    left: -16px;
    top: 14px;
}

#contact {
    height: calc(100vh - 300px);
}

footer {
    height: 300px;
}