@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100vh;
}

html,
#root {
    scroll-behavior: smooth;
}

body,
#root,
.projects--main,
.project--main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,
#root::-webkit-scrollbar,
.projects--main::-webkit-scrollbar,
.project--main::-webkit-scrollbar {
    display: none;
}

.header--hero {
    height: 500px;
}

img {
    pointer-events: none;
}

.main--section {
    height: 100vh;
}

.projects--main,
.project--main,
.error--main {
    min-height: calc(100vh - 112px);
    scroll-snap-align: start;
    scroll-snap-type: none;
}

.project--main {
    height: 100vh;
}

#root {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    overflow-y: scroll;
    max-height: 100vh;
}

header,
section {
    scroll-snap-align: start;
    overflow: hidden;
}

footer {
    scroll-snap-align: end;
}

.about--background-left,
.about--background-right,
.experience--background-left,
.experience--background-right,
.contact--background,
.footer--background-left,
.footer--background-right {
    pointer-events: none;
}

.about--background-left,
.about--background-right,
.experience--background-left,
.experience--background-right {
    min-width: calc(1440px / 2);
    height: 800px;
}

.footer--background-left,
.footer--background-right,
.contact--background {
    min-width: calc(1440px / 2);
}

.about--background-right,
.experience--background-right,
.footer--background-right {
    right: 0;
}

.about--background-left,
.experience--background-left,
.footer--background-left,
.contact--background {
    left: 0;
}

@media screen and (max-width: 1440px) {

    .about--background-left,
    .experience--background-left,
    .footer--background-left,
    .contact--background {
        left: unset;
        right: 50vw;
    }

    .about--background-right,
    .experience--background-right,
    .footer--background-right {
        right: unset;
        left: 50vw;
    }
}

@media screen and (min-height: 800px) {

    .about--background-left,
    .about--background-right,
    .experience--background-left,
    .experience--background-right {
        height: 100%;
    }
}

.experience--top {
    top: 115px;
    left: -94px;
}

.experience--left {
    bottom: -8px;
    left: 168px;
}

.experience--right {
    bottom: -20px;
    right: -90px;
}

.experience--bullets li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: theme("colors.primary");
    display: block;
    position: relative;
    left: -16px;
    top: 14px;
}

#contact {
    height: calc(100vh - 300px);
}

footer {
    height: 300px;
}

.transition-slide {
    animation: transition 2s ease-in-out;
}

@keyframes transition {
    0% {
        width: 0;
        right: 0;
        left: unset;
    }

    50% {
        width: 100vw;
        right: 0;
        left: unset;
    }

    51% {
        left: 0;
        right: unset;
    }

    100% {
        width: 0;
        left: 0;
        right: unset;
    }
}